*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: whitesmoke;
    margin: 0;
}

header{
    background-color: white;
}

header img{
    margin: 10px 0 10px 25px;
    width: 4%;
    display: inline-block;
}

header span{
    color: #021832;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    line-height: 50%;
    margin-left: 110px;
    transform: translate(-50%, -100%);
}

.mainContainer{
    width: 1000px;
    height: 650px;
    margin: 40px auto;
    background-color: white;
    border-radius: 2%;
}

.mainContainer button{
    display: inline-block;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
    margin-top: 15px;
}

#firstButton{
    background-color: #48ADF1;
    color: white;
    border: 0;
    margin-right: 3px;
    margin-left: 60px;
}

#secondButton{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

hr {
    height: 0.5%;
    border: 0;
    background-color: whitesmoke;
}

.mainContainer .box{
    margin-left: 60px;
    margin-top: 25px;
}



.tick{
    display: inline-block;
    font-size: 15px;
    color: rgb(78, 168, 78);
    border: 1px solid rgb(78, 168, 78);
    border-radius: 70%;
}

.box .boxText{
    font-size: 16px;
    margin-left: 5px;
}

.box .coloredBox{
    display: inline-block;
    color: white;
    border-radius: 10px;
    font-size: 10px;
    padding: 7px 9px 7px 9px;
    margin-left: 5px;
}

#blueBox{
    background-color: #48ADF1;
}

#orangeBox{
    background-color: #F29E33
}

#purpleBox{
    background-color: #9C72E4;
}

#greenBox{
    background-color: #63C0A9
}


.box h2{
    margin-bottom: 10px;
}