*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    margin: 0;
}

header{
    background-color: white;
}

header img{
    margin: 10px 0 10px 25px;
    width: 5%;
    display: inline-block;
}

header span{
    font-family: 'Roboto', sans-serif;
    color: #021832;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    line-height: 50%;
    margin-left: 110px;
    transform: translate(-50%, -120%);
}